Div[UUID="Thread_Post"] {
	Width: 100%;
	Min-Height: Auto;

	Margin: 5vh 0;
}

Div[UUID="Thread_Post_Header"] > * {
	Display: Flex;
	Flex-Direction: Row;
	Align-Items: Center;

	Font-Size: Medium;
}

A[UUID="Thread_Post_Header_ActorPhoto"] {
	Background: Transparent Center / Cover;
}

A[UUID="Thread_Post_Header_ActorPhoto"][Disabled] {
	Display: None;
}

Span[UUID="Thread_Post_Header_Actor"] {
	Align-Self: Auto;

	Margin-Left: 0.5em;
}

Span[UUID="Thread_Post_Header_CreatedAt"] {
	Color: #BDBDBD;
	Font-Size: 80%;
}

Div[UUID="Thread_Post_Content"] {
	White-Space: Pre-Wrap;
}

Button[UUID="Thread_Post_Actions_Plus_Btn"] {
	Margin-Right: 0.5rem;
}

Span[UUID="Thread_Post_Actions_Plus_Count"] {
	Vertical-Align: Middle;

	Color: Gray;
	Font-Size: 14px;
}



#FlowPanel_Btns {
	Position: Fixed;
	Right: 0;
	Bottom: 0;

	Display: Flex;
	Flex-Direction: Row-Reverse;

	Padding: 5vh 4vw;
	Z-Index: 100;
}

#FlowPanel_Btns *[Disabled] {
	Display: None;
}

#FlowPanel_Btns > Div {
	Margin-Left: 2.5vw;
}

#FlowPanel_Btns > Div:Last-Child {
	Margin-Left: 0;
}

.FlowPanel_Btns_Row {
	Display: Flex;
	Flex-Direction: Column;
}

.FlowPanel_Btns_Row > * {
	Margin-Bottom: 2.5vw;
}

.FlowPanel_Btns_Row > *:Last-Child {
	Margin-Bottom: 0;
}